<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body class="createbody">

<div class="loginbox">

    <img th:src="@{/Avatar.png}" class="avatar">
    <h1>Make New Account</h1>

    <form th:object="${user}"  method="post", th:action="@{/createUser}">
        <label class="form-label mt-10">Username</label>
        <input th:field="*{username}" name="createUsername" type="text" class="form-control" placeholder="your name is ...">

        <label class="form-label">Password</label>
        <input th:field="*{password}" name="createPassword" type="password" class="form-control" placeholder="your password is ...">

        <button type="submit" value="submit" class="btn btn-outline-danger mt-3 mb-3">Create User</button><br>
        <a href="/login">Log In</a>
    </form>
</div>
</body>
</html>