<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <title>User Creation</title>
    <link rel="stylesheet" th:href="@{/styling.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" th:href="@{/well-icon.png}">
</head>
<body>

<div th:fragment="navbar">
    <header>
        <div class="wrapper">
            <a href="/"><img src="/static/logo.png" th:src="@{/logo.png}" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Forside</a></li>
                    <li><a href="/addwishlist">Opret Ønskeseddel</a></li>
                    <li><a href="/logout">Log Ud</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<div th:fragment="navbarGuest">
    <header>
        <div class="wrapper">
            <a href="/"><img src="/static/logo.png" th:src="@{/logo.png}" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/createUser">Opret Bruger</a></li>
                    <li><a href="/login">Log Ind</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

</body>
</html>