<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=('Ønskebrønden'))">
</head>
<body>

<div>
    <header>
        <div class="wrapper">
            <a href="/"><img src="/static/logo.png" th:src="@{/logo.png}" alt="logo" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/">Forside</a></li>
                    <li><a href="/addwishlist">Opret Ønskeseddel</a></li>
                    <li><a href="/logout">Log Ud</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<div class="content-area">
    <div class="content-area-content">
        <h1>Dine ønskesedler</h1>
        <grid class="cards">
            <div th:each="wishlist : ${wishlists}" class="sticky-note">
                <div class="sticky-text">
                    <a th:href="@{/homepage/{id}(id=${wishlist.id})}"><h5 th:text="${wishlist.name}">Card title</h5></a>
                    <p th:text="${wishlist.description}">Some quick example text to build on the card
                        title and make up the bulk of the card's content.</p>
                    <button class="btn btn-sm btn-outline-danger" th:onclick="deleteWishlist([[${wishlist.id}]])">X
                    </button>
                </div>
            </div>
        </grid>

        <hr>

        <a href="/addwishlist">
            <button type="button" class="btn btn-outline-dark mt-3 mb-3">Lav Ønskeseddel</button>
        </a>

        <a href="/logout">
            <button type="button" class="btn btn-outline-danger mt-3 mb-3">Log ud</button>
        </a>
    </div>
</div>
</body>
<script th:inline="javascript">
    async function deleteWishlist(wishlistId) {
        const url = 'https://oenske-broenen.herokuapp.com'
        await fetch(url + '/' + wishlistId + '/deleteWishlist', {method: 'post'})
        window.location.href = url + '/homepage'
    }
</script>
</html>