<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Ønskebrønen Forside</title>
    </head>
    <body>
    <h1>Dine ønskesedler</h1>
    <ul>
        <li th:each="wishlist : ${wishlists}">
            <a th:text="${wishlist.name}" th:href="@{/homepage/{id}(id=${wishlist.id})}"></a>
        </li>
    </ul>

    <a href="/addwishlist"><button type="button" class="btn btn-outline-danger mt-3 mb-3">Lav Ønskeseddel</button></a>
    </body>
</html>