<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div>
    <form th:object="${user}" th:action="@{/login}" method="post">
        <label class="form-label mt-10">Username</label>
        <input th:field="*{username}" name="username" type="text" class="form-control">

        <label class="form-label">Password</label>
        <input th:field="*{password}" name="password" type="text" class="form-control">

        <button type="submit" value="submit" class="btn btn-outline-dark mt-3 mb-3">login</button>
    </form>
</div>
</body>
</html>