<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div>
    <form action="/" method="post">
        <label class="form-label mt-10">Username</label>
        <input name="username" type="text" class="form-control">

        <label class="form-label">Password</label>
        <input name="password" type="text" class="form-control">

        <button type="submit" value="submit" class="btn btn-outline-dark mt-3 mb-3">login</button>
    </form>
</div>
</body>
</html>