<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Ønskebrønden Login')">
</head>
<body class="loginbody">
    <div class="loginbox">

        <img th:src="@{/logo.png}" th:class="logo">
        <img th:src="@{/Avatar.png}" class="avatar">
        <h1>Log Ind</h1>
        <form th:object="${user}" th:action="@{/login}" method="post">
            <label class="form-label mt-10">Brugernavn</label>
            <input th:field="*{username}" name="username" type="text" class="form-control" placeholder="exempel@test.dk ...">

            <label class="form-label">Kodeord</label>
            <input th:field="*{password}" name="password" type="password" class="form-control" placeholder="eksempel123 ...">

            <button type="submit" value="submit" class="btn btn-outline-danger mt-3 mb-3">Log Ind</button><br>

            <a href="/createUser">Opret Ny Bruger?</a>
        </form>
    </div>
</body>
</html>