<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=('Ønskebrønden Ønskeseddel'))">
</head>
<body>

<div th:if="${isUser}">
    <div th:replace="fragments :: navbar">

    </div>
</div>
<div th:unless="${isUser}">
    <div th:replace="fragments :: navbarGuest">

    </div>
</div>


<div class="content-area">
    <div class="content-area-content">

        <div th:if="${isUser}">
            <h5>Tryk på knapper for at kopiere link til nem deling med venner og familie!</h5>
            <button onclick="copyToClipboard()" class="button btn btn-outline-dark mb-3 mt-3">Kopier Link</button>

            <!-- script taget fra google for at have en nem  tilgængelig knap til at kopiere link til nem deling -->
            <script>
                function copyToClipboard(text) {
                    var inputc = document.body.appendChild(document.createElement("input"));
                    inputc.value = window.location.href;
                    inputc.focus();
                    inputc.select();
                    document.execCommand('copy');
                    inputc.parentNode.removeChild(inputc);
                    alert("URL Copied.");
                }
            </script>
        </div>

        <hr>

        <div th:if="${#lists.isEmpty(wishes)}">
            Du har ingen ønsker på denne seddel!<br>
            Tryk på knappen nedenfor for at indsætte nye ønsker!
        </div>

        <grid class="cards">
            <div th:each="wish : ${wishes}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 th:text="${wish.name}" class="card-title"></h5><br>
                        <p th:text="${wish.description}" class="card-text"></p>
                        <form th:if="${isCreator}" method="post"
                              th:action="@{/homepage/{wishlistId}/deleteWish/{wishId}(wishId=${wish.id}, wishlistId=${wish.wishlistId})}">
                            <button type="submit" class="button btn btn-outline-danger mt-6 mb-6">Slet ønske</button>
                        </form>
                    </div>
                </div>
            </div>
        </grid>

        <a th:if="${isCreator}" th:href="@{{id}/createWish(id=${wishlistId})}">
            <button class="button btn btn-outline-dark mt-3 mb-3">Tilføj et nyt ønske til din seddel</button>
        </a><br>

        <hr>

        <a href="/homepage">Tilbage til forside</a>
    </div>
</div>
</body>
</html>