<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=('Ønskebrønden Ønskeseddel'))">
</head>
<body>

<div th:if="${isUser}">
    <div th:replace="fragments :: navbar">

    </div>
</div>
<div th:unless="${isUser}">
    <div th:replace="fragments :: navbarGuest">

    </div>
</div>



<div class="content-area">
    <div class="content-area-content">

        <button onclick="copyToClipboard()" class="button btn btn-outline-danger mb-3 mt-3">Kopier Link</button>

        <!-- script taget fra google for at have en nem  tilgængelig knap til at kopiere link -->
        <script>
            function copyToClipboard(text) {
                var inputc = document.body.appendChild(document.createElement("input"));
                inputc.value = window.location.href;
                inputc.focus();
                inputc.select();
                document.execCommand('copy');
                inputc.parentNode.removeChild(inputc);
                alert("URL Copied.");
            }
        </script>

        <hr>

        <ul>
            <li th:each="wish : ${wishes}" th:text="${wish.name}"></li>
        </ul>
        <div th:if="${#lists.isEmpty(wishes)}">
            Du har ingen ønsker på denne seddel!<br>
            Tryk på knappen nedenfor for at indsætte nye ønsker!

        </div>

        <a th:if="${isCreator}" th:href="@{{id}/createWish(id=${wishlistId})}">
            <button class="button btn btn-outline-danger mt-3 mb-3">Tilføj et ny ønske til din seddel</button>
        </a><br>

        <hr>

        <a href="/homepage">Tilbage til forside</a>
    </div>
</div>
</body>
</html>